{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block content %}
	<form class="form-base" onsubmit="return check(this)" action="/profile/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="m-row">
			<label for="id_username">用户名:</label>
			<input type="text" class="form-control" readonly="true" id="id_username" maxlength="20" name="username" value="{{ user.username }}">
		</div>
		<div class="m-row">
			<label for="id_email">邮箱:</label>
			<input type="text" class="form-control" readonly="true" id="id_email" maxlength="20" name="email" value="{{ user.email }}">
		</div>
		<div class="m-row">
			<label for="id_password">密码:</label>
			<input type="password" class="form-control" placeholder="请输入密码" id="id_password1" name="password1" maxlength="128">
		</div>
		<div class="m-row">
			<label for="id_nickname">昵称:</label>
			<input type="text" class="form-control" placeholder="Nickname" id="id_nickname" maxlength="20" name="nickname" value="{{ user.userextraprofile.UNickName }}">
		</div>
		<div class="m-row">
			<label for="id_description">个人描述:</label>
			<input type="text" class="form-control" placeholder="Description" id="id_description" maxlength="100" name="description" value="{{ user.userextraprofile.UDescription }}">
		</div>
		<input type="submit"  value="确认修改">
		<div>
			{{context}}
		</div>
	</form>
	<a href = "/">Return.</a>
{% endblock %}