{% extends "base.html" %}

{% block title %}set-password{% endblock %}

{% block content %}

<form class="form-base" onsubmit="return check(this)" action="/setpassword/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="m-row">
		<label for="id_password">密码:</label>
		<input type="password" placeholder="输入您的原密码" name="password"
			   maxlength="128">
	</div>

	<div class="m-row">
		<label for="id_password">新密码:</label>
		<input type="password" class="form-control" placeholder="不少于6个字符" id="id_newpassword1" name="newpassword1" maxlength="128">
	</div>
	
	<div class="m-row">
		<label for="id_password">再次输入新密码:</label>
		<input type="password" class="form-control" placeholder="" id="id_newpassword2" name="newpassword2" maxlength="128">
	</div>
	<div class="m-row">
		{{ error }}
	</div>
	<input type="submit" value="重置">
</form>

{% endblock %}